#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=fl_check_record
Exec=/opt/fetonslinux/bin/fl_check_record
Terminal=true
Type=Application
Icon=/opt/fetonslinux/image/test-record.svg
